apache-airflow==2.2.3
psycopg2-binary==2.9.1
google-cloud-bigquery==2.35.2
pandas==1.4.0
numpy==1.22.0
requests==2.27.1
seaborn==0.11.2
matplotlib==3.4.3
psycopg2==2.9.2
sqlalchemy==1.4.25
pygithub==1.61
yfinance==0.1.64
datetime==4.3
Meteostat==1.2.3
google-cloud-storage==1.45.0

